.app-container {
    margin: 3rem;
}
.cell-color-0 {
    background-color: #fff;
}
.cell-color-1 {
    background-color: #f8696b;
}
.cell-color-2 {
    background-color: #ffeb84;
}
.cell-color-3 {
    background-color: #ccdd82;
}
.cell-color-4 {
    background-color: #98ce7f;
}
.cell-color-5 {
    background-color: #63be7b;
}
