.app-container {
    margin: 0 2rem;
}
.ag-theme-balham {
    height: 75vh;
    width: 100%;
}
.cell-color-0 {
    background-color: #fff;
}
.cell-color-1 {
    //background-color: #f8696b;
    background-color: #ff9396;
}
.cell-color-2 {
    //background-color: #ffeb84;
    background-color: #f9be94;
}
.cell-color-3 {
    //background-color: #ccdd82;
    background-color: #f3e494;
}
.cell-color-4 {
    //background-color: #98ce7f;
    background-color: #d4ed95;
}
.cell-color-5 {
    background-color: #ade795;
}
.ag-theme-balham .ag-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.center-text {
    text-align: center;
}
.actions-container {
    margin-bottom: 1rem;
    padding: 1rem 0 0.5rem;
    display: flex;

    .action {
        display: block;
        margin-right: 2rem;
    }
    .action-input {
        margin: 0 0.5rem;
    }
}
